body {
    color: #333;
    font-family: Georgia, serif;
    line-height: 1.4em;
}

.fa-heart {
    cursor: pointer;
}

article {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#post-public-button {
    font-family: Ubuntu;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 4px 12px;
    background-color: #fff;
    cursor: pointer;
    z-index: 900;    
    position: relative;
    float: right;
}

#heart-parent {
    float: left;
    position: relative;
}

#peer-info {
    float: right;
    position: relative;
}

.standalone-container {
    margin-left: 50px;
    max-width: 900px;
}

#post-info-section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

a {
    color: #333;
}
