body {
    color: #333;
    font-family: Georgia, serif;
    line-height: 1.4em;
}

.fa-heart {
    cursor: pointer;
}

.content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#heart-parent {
    float: left;
    position: relative;
}

#peer-info {
    float: right;
    position: relative;
}

#post-info-section {
    max-width: 900px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

a {
    color: #333;
}

#smsg {
    display: none;
}

.block {
	display: block;
	width: 100%;
	border: #333 solid;
	background-color: white;
	color: #333;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border-radius: 25px;
  }

  .block:hover {
	background-color: black;
	color: white;
  }
