body {
    color: #333;
    font-family: Georgia, serif;
    line-height: 1.4em;
}

.fa-heart {
    cursor: pointer;
}

.content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.section {
    display: none;
}

#post-public-button {
    cursor: pointer;
    z-index: 900;    
    position: relative;
    float: right;
}

#heart-parent {
    float: left;
    position: relative;
}

#post-info {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#post-extra-info {
    margin-top: 40px;
}

#post-time {
    margin-left: 20px;
}

article {
    margin-top: 40px;
}

a {
    color: #333;
}

.block {
	display: block;
	width: 100%;
	border: #333 solid;
	background-color: white;
	color: #333;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border-radius: 25px;
}

.block:hover {
	background-color: black;
	color: white;
}

.toast {
    position: absolute;
    top: 100px;
    right: 100px;
}